<div class="example-wrapper">
  <% if(exampleTarget!==null){ %>
    <a href = '<%- exampleTarget.uri %>'><h4><%- exampleTarget.package_version.package_name+": "+exampleTarget.name %></h4></a>
  <% } %>
  <div class="example <% if (user_examples[i].topic && user_examples[i].topic.package_version.id !== data.package_version.id) {
    %>old<% } %>" data-exampleid=<%-user_examples[i].id%>>
    <div class='example--title'>
      <span>
        <% if(exampleUser !== null) { %>
          <strong><%= exampleUser.username %></strong>
        at
        <% } %>
        <%= dateformat(user_examples[i].created_at, "mediumDate") %>
      </span>
      <% if(user && user_examples[i].user_id===user.id) { %>
        <div class="buttons">
          <a class="edit-example">Edit</a>
          <a class="delete-example">Remove</a>
        </div>
      <% } %>
      <% if(user_examples[i].topic){ %>
        <span class="pull-right">
          <%= user_examples[i].topic.package_version.package_name  %>
          <a href="<%=user_examples[i].topic.package_version.uri%>">
            v<%= user_examples[i].topic.package_version.version  %>
          </a>
        </span>
      <% } %>
    </div>
    <div class='example--body markdown-body'>
      <p class='example--text tex2jax_ignore' data-raw='<%= user_examples[i].example %>'
        <%if(user_examples[i].topic){%>
          data-package-name = '<%=user_examples[i].topic.package_version.package_name%>'
        <%}%>
      >
        <%= user_examples[i].example %>
      </p>
    </div>
  </div>
</div>
