<div class="review">
  <div class='review--title'>
    <%= reviews[i].title %>
    <div class="rating">
      <% for(var j=0; j < 5; j++) { %>
        <i class="fa fa-star<%= reviews[i].rating <= j ? "-o" : "" %>" aria-hidden="true"></i>
      <% } %>
    </div>
    <span>by <strong><%= reviewUser.username %></strong> on <%= dateformat(reviews[i].created_at) %></span>
  </div>
  <div class='review--body'>
    <p><%= reviews[i].text %></p>
  </div>
</div>