<div class="review">
  <div class='review--title'>
    <%= reviews[i].title %>
    <div class="rating">
      <% for(var j=0; j < 5; j++) { %>
        <i class="fa fa-star<%= reviews[i].rating <= j ? "-o" : "" %>" aria-hidden="true"></i>
      <% } %>
    </div>
    <span>
      <% if(reviewUser !== null) { %>
        by <strong><%= reviewUser.username %></strong>
      <% } %>
      <% if(reviewTarget !== null) { %>
        <% if(reviewTarget.package_name) { %>
          on <a href="<%= reviewTarget.uri %>"><%= reviewTarget.package_name %>&nbsp;v<%= reviewTarget.version %></a>
        <% } else { %>
          on <a href="<%= reviewTarget.uri %>"><%= reviewTarget.name %></a>
        <% } %>
      <% } %>
      at <%= dateformat(reviews[i].created_at, "mediumDate") %>
    </span>
  </div>
  <div class='review--body'>
    <p><%= reviews[i].text %></p>
  </div>
</div>