<% var topic = data; %>
<div>
  <section class='documentation functions'>

    <header>
      <h1><span itemprop="name"><%- topic.name %></span></h1>
      <h2 class="add_line" itemprop="description"><%= topic.title %></h2>
    </header>

    <section>
      <h3>Description</h3>
      <div itemprop="description"><%= topic.description %></div>
    </section>



    <section>
      <h3>Value</h3>
      <%- topic.value %>
    </section>

    <section>
      <h3>See also</h3>
      <%-topic.seealso %>
    </section>

    <section>
      <h3>Details</h3>
      <%- topic.details %>
    </section>


    <section>
      <h3>Author(s)</h3>
      <span itemprop="author"><%- topic.author %></span>
    </section>

    <section>
      <h3>References</h3>
      <%- topic.references %>
    </section>

    <small>
      <i> Documentation reproduced from package <span itemprop="name"><%- topic.package_version.package_name %></span>, version <span itemprop="version"><%- topic.package_version.version %></span>,
      License: <%= topic.package_version.license %>
      </i>
    </small>
  </section>
</div>

