<% var topic = data; %>
<section data-package-name="<%=topic.package_version.package_name%>" data-latest-version="<%=topic.package_version.version%>" class="packageData" itemscope itemtype="http://schema.org/SoftwareApplication"></section>
<section class="topic">
  <div class="container-fluid">
    <header class='topic--header'>
      <div class="col-xs-6 no-padding">
        <h1>
          <%- topic.name %>
        </h1>
      </div>
      <div class="pull-right topic--package-info">
        <div class="topic--package-info-details">
          <span>
            From
            <a href="<%- topic.package_version.uri %>">
              <%- topic.package_version.package_name %> v<%- topic.package_version.version %>
            </a>
          </span>
          <span>
            <% if(topic.package_version.maintainer) { %>
              by <a href="/collaborators/name/<%- topic.package_version.maintainer.name %>">
              <%- topic.package_version.maintainer.name %>
              </a>
            <% } %>
          </span>
          </div>


          <% var percentilePath = "/api/packages/"+topic.package_version.package_name+"/percentile"  %>
          <%- include ../shared/_percentile.ejs %>

      </div>


    </header>

    <section>
      <h5><%- topic.title %></h5>
      <p><%- topic.description %></p>
    </section>

   <% if(topic.keywords && topic.keywords.length>0){ %>
      <section class="topic--keywords">
        <dl>
          <dt>Keywords</dt>
          <% var keywords = topic.keywords.map(function(keyword) {
            return '<a href="/search/keywords/' + encodeURIComponent(keyword.name) + '">' + keyword.name + '</a>';
          }) -%>
          <dd><%- keywords.join(', ') %></dd>
        </dl>
      </section>
    <%}%>

   <% if(topic.usage) { %>
    <section>
      <h5 class="topic--title">Usage</h5>
      <pre><code class="R"><%- topic.usage %></code></pre>
    </section>
  <% } %>

    <%if(topic.arguments && topic.arguments.length>0){%>
      <section class="topic--arguments">
        <h5 class="topic--title">Arguments</h5>
        <dl>
          <% for(var i = 0; i < topic.arguments.length; i++) { %>
            <dt><%- topic.arguments[i].name %></dt>
            <dd><%- topic.arguments[i].description %></dd>
          <% } %>
        </dl>
      </section>
    <%}%>

    <!-- Other info -->


    <% if(topic.details) { %>
      <section>
        <h5 class="topic--title">Details</h5>
        <p><%- topic.details %></p>
      </section>
    <% } %>

    <% if(topic.value) { %>
      <section class="topic--value">
        <h5 class="topic--title">Value</h5>
        <p><%- topic.value %></p>
      </section>
    <% } %>


    <% if(topic.note) { %>
      <section>
        <h5 class="topic--title">Note</h5>
        <p><%- topic.note %></p>
      </section>
    <% } %>

    <% if(topic.sections) { %>
      <% for(var i = 0; i < topic.sections.length; i++) { %>
        <% var section = topic.sections[i]; %>
        <section>
          <h5 class="topic--title"><%- section.name %></h5>
          <p><%- section.description %></p>
        </section>
      <% } %>

    <% } %>

    <% if(topic.references) { %>
      <section>
        <h5 class="topic--title">References</h5>
        <p><%- topic.references %></p>
      </section>
    <% } %>


    <% if(topic.seealso) { %>
      <section>
        <h5 class="topic--title">See Also</h5>
        <p><%- topic.seealso %></p>
      </section>
    <% } %>



    <% if(topic.examples) { %>
      <section>
        <h5 class="topic--title">Examples</h5>
        <pre><code class="nohighlight R exampleR" data-package-name = <%- topic.package_version.package_name %>><%- topic.examples %></code></pre>
      </section>
      <% if(inViewerPane){ %>
        <section>
          <button type="button" id="js-examples" class="visible-installed btn btn-primary js-external">Run examples</button>
        </section>
      <% }%>
    <% } %>

    <small>
      <i> Documentation reproduced from package <span itemprop="name"><%- topic.package_version.package_name %></span>, version <span itemprop="version"><%- topic.package_version.version %></span>,
      License: <%= topic.package_version.license %>
      </i>
    </small>

    <% var examplePostAction = '/api/topics/' + data.id + '/examples' %>
    <%- include ../shared/_post_example.ejs %>
  </div>
</section>
