<%- partial ('../shared/_navbar.ejs') %>
<% var topic = data; %>
<section class="topic">
  <div class="container">
    <header>
      <h1><%- topic.name %><span>From <a href="<%- topic.package_version.uri %>"><%- topic.package_version.package_name %> v<%- topic.package_version.version %></a></span></h1>
      <div class="package--review pull-right" >
        <% if(!inViewerPane) { %>
          <a href="javascript:;" onclick="document.location.hash='postReview';" class="btn btn-primary">Review Package</a>
        <% } else { %>
          <a href="<%= path + '#postReview' %>" class="btn btn-primary js-external">Review Package</a>
        <% } %>
      </div>
    </header>

    <section>
      <h4><%- topic.title %></h4>
      <p><%- topic.description %></p>
    </section>

    <section class="topic--arguments">
      <h5 class="topic--title">Arguments</h5>
      <dl>
        <% for(var i = 0; i < topic.arguments.length; i++) { %>
          <dt><%- topic.arguments[i].name %></dt>
          <dd><%- topic.arguments[i].description %></dd>
        <% } %>
      </dl>
    </section>

    <!-- Other info -->
    <% if(topic.usage) { %>
      <section>
        <h5 class="topic--title">usage</h5>
        <pre><code class="R"><%- topic.usage %></code></pre>
      </section>
    <% } %>

    <% if(topic.details) { %>
      <section>
        <h5 class="topic--title">details</h5>
        <p><%- topic.details %></p>
      </section>
    <% } %>

    <% if(topic.value) { %>
      <section>
        <h5 class="topic--title">value</h5>
        <p><%- topic.value %></p>
      </section>
    <% } %>

    <% if(topic.references) { %>
      <section>
        <h5 class="topic--title">references</h5>
        <p><%- topic.references %></p>
      </section>
    <% } %>

    <% if(topic.note) { %>
      <section>
        <h5 class="topic--title">note</h5>
        <p><%- topic.note %></p>
      </section>
    <% } %>

    <% if(topic.seealso) { %>
      <section>
        <h5 class="topic--title">seealso</h5>
        <p><%- topic.seealso %></p>
      </section>
    <% } %>

    <% if(topic.examples) { %>
      <section>
        <h5 class="topic--title">examples</h5>
        <pre><code class="R"><%- topic.examples %></code></pre>
      </section>
    <% } %>

    <small>
      <i> Documentation reproduced from package <span itemprop="name"><%- topic.package_version.package_name %></span>, version <span itemprop="version"><%- topic.package_version.version %></span>,
      License: <%= topic.package_version.license %>
      </i>
    </small>


    <%- partial ('../shared/_post_review.ejs') %>
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>
