<%- partial ('../shared/_navbar.ejs') %>
<% var topic = data; %>
<section class="topic">
  <div class="container">
    <header>
      <h1><%- topic.name %><span>From <a href="<%- topic.package_version.uri %>"><%- topic.package_version.package_name %> v<%- topic.package_version.version %></a></span></h1>
      <div class="package--review pull-right" >
        <a id="packageVersionReview" class="btn btn-primary pull-right">Review Function</a>
          <div class='popover hidden'>
            <% if(user) { %>
              <h5>Post a review</h5>
              <form action="/api/topics/<%= topic.id %>/comments" method="post">
                <textarea name='comment' rows="4" cols="20"></textarea>
                <button class="btn btn-primary pull-right" type="submit">Send your review</button>
              </form>
            <% } else { %>
              <div class=''>You are not logged in, please log-in to post reviews</div>
            <% } %>
          </div>


      </div>
    </header>

    <section>
      <h4><%= topic.title %></h4>
      <p><%- topic.description %></p>
    </section>

    <section class="topic--arguments">
      <h5 class="topic--title">Arguments</h5>
      <dl>
        <% for(var i = 0; i < topic.arguments.length; i++) { %>
          <dt><%- topic.arguments[i].name %></dt>
          <dd><%- topic.arguments[i].description %></dd>
        <% } %>
      </dl>
    </section>

    <!-- Other info -->
    <% if(topic.usage) { %>
      <section>
        <h5 class="topic--title">usage</h5>
        <pre><code class="R"><%- topic.usage %></code></pre>
      </section>
    <% } %>

    <% if(topic.details) { %>
      <section>
        <h5 class="topic--title">details</h5>
        <p><%- topic.details %></p>
      </section>
    <% } %>

    <% if(topic.value) { %>
      <section>
        <h5 class="topic--title">value</h5>
        <p><%- topic.value %></p>
      </section>
    <% } %>

    <% if(topic.references) { %>
      <section>
        <h5 class="topic--title">references</h5>
        <p><%- topic.references %></p>
      </section>
    <% } %>

    <% if(topic.note) { %>
      <section>
        <h5 class="topic--title">note</h5>
        <p><%- topic.note %></p>
      </section>
    <% } %>

    <% if(topic.seealso) { %>
      <section>
        <h5 class="topic--title">seealso</h5>
        <p><%- topic.seealso %></p>
      </section>
    <% } %>

    <% if(topic.examples) { %>
      <section>
        <h5 class="topic--title">examples</h5>
        <pre><code class="R"><%- topic.examples %></code></pre>
      </section>
    <% } %>

    <small>
      <i> Documentation reproduced from package <span itemprop="name"><%- topic.package_version.package_name %></span>, version <span itemprop="version"><%- topic.package_version.version %></span>,
      License: <%= topic.package_version.license %>
      </i>
    </small>
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>
