<section class="home--background">
  <nav class='navbar navbar-color'>
    <% if(inViewerPane){ %>
      <div class="rstudio-navigation pull-left">
        <button class="btn btn-primary-light rstudio-navbutton rstudio-back"><i class="fa fa-chevron-left rstudio-back-arrow" style="font-size:15px"></i></button>
        <button class="btn btn-primary-light rstudio-navbutton rstudio-forward"><i class="fa fa-chevron-right rstudio-forward-arrow" style="font-size:15px"></i></button>
      </div>
    <% } %>
    <div class="home--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title"><span>RDocumentation</span></div>
      </a>
    </div>

    <% if(!inViewerPane) { %>
      <%- partial ('shared/_navigation.ejs', {primaryButtonClass: 'btn-primary', secondaryButtonClass: 'btn-secondary'}) %>
    <% } %>
  </nav>

  <div class="home--cta">
    <h1>Search all <%= data.numbers.nbPackages %> CRAN, BioConductor and Github packages.</h1>
    <div class="home--search">
      <form class="search" action="/search" method="get">
        <input name="q" type="text" placeholder="Search for packages, functions, etc" autofocus autocomplete="off">
        <button class="btn btn-primary" type="submit">Search</button>
        <div class="search--results"></div>
      </form>
      <p class="home--taskviews">Or explore packages in one of the <a href="/taskviews">Task Views</a>.</p>
    </div>
  </div>

  <div class="home--leaderboard">
    <div class="home--tables">

      <div class='row'>
        <div class='col-md-4 home--leadertable'>
          <h3><a href="/trends">Top 5 packages</a></h3>
          <table>
            <tbody>
              <% if (Array.isArray(data.mostPopular)) { %>
                <% data.mostPopular.forEach(function(item,i){ %>
                  <% if(i<5){ %>
                    <tr><td><a href='/packages/<%-item.package_name %>'><%- i + 1 %>.&nbsp;<%-item.package_name %></a></td></tr>
                  <% } %>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class='col-md-4 home--leadertable'>
          <h3><a href="/trends">Top 5 authors</a></h3>
          <table>
            <tbody>
              <% if (Array.isArray(data.topCollaborators)) { %>
                <% data.topCollaborators.forEach(function(item,i){ %>
                  <% if(i<5){ %>
                    <tr><td><a href='/collaborators/name/<%-encodeURIComponent(item.name) %>'><%- i + 1 %>.&nbsp;<%-item.name %></a></td></tr>
                  <% } %>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
        <div class='col-md-4 home--leadertable'>
          <h3><a href="/trends">Newest packages</a></h3>
          <table>
            <tbody>
              <% if (Array.isArray(data.newPackages)) { %>
                <% data.newPackages.forEach(function(item,i){ %>
                  <% if(i<5){ %>
                    <tr><td><a href='/packages/<%-item.package_name %>'><%- i + 1 %>.&nbsp;<%-item.package_name %></a></td></tr>
                  <% } %>
                <% }) %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <a class="home--apidoc btn btn-default js-external" target="_blank" href="/docs"><i class="fa fa-cogs"></i>API documentation</a>
  <p class="home--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
</section>
