<section class="bg bg-navigation home--background">
  <nav class='navbar'>
    <div class="home--title">
      <a href="/">
        <div class="logo"></div>
        <div class="logo-title">RDocumentation</div>
      </a>
    </div>

  <% if(!inViewerPane) { %>
    <%- partial ('shared/_navigation.ejs') %>
  <% } %>
    </nav>

  <div class="home--cta">
    <h1>Search all <%= data.nbPackages %> CRAN and BioC packages.</h1>
    <p><b><%= data.nbPackages %></b> packages, <b><%= data.nbPackageVersions %></b> package versions, <b><%= data.nbCollaborators %></b> collaborators</p>
    <div class="home--search">
      <form class="search" action="/search">
        <input name="q" type="text" placeholder="Search for packages, functions, etc" autofocus autocomplete="off">
        <button class="btn btn-primary" type="submit">Search</button>
        <div class="search--results"></div>
      </form>
      <p class="home--taskviews">Or explore packages in one of the <a href="/taskviews">Task Views</a>.</p>
    </div>
  </div>

  <p class="home--credits">Created by <a href="https://www.datacamp.com">DataCamp.com</a></p>
</section>
