<% if (path === '/') { %>
  <%- partial ('shared/_flash.ejs') %>
  <%- body %>
<% } else { %>
  
  <%- partial ('shared/_navbar.ejs') %>
  <div class="page-wrap">
      
    <%- partial ('shared/_flash.ejs') %>
    <%- body %>
  </div>

  <%- partial ('shared/_footer.ejs') %>
<% } %>
