<% var collaborator = data; %>
<section class="collaborator">
  <div class="container">
    <div class = "row">
    <div class ="col-md-4 name--block">
      <img src="<%- collaborator.gravatar_url + '?d=' + encodeURIComponent(process.env.BASE_URL + '/images/placeholder.png') %>" alt="<%- collaborator.name %>" id="collaborator-gravatar" width="80" height="80">
      <span class="name">
        <h1><%- collaborator.name %></h1>
      </span>
      <div class="collaborator-details">
          <span class="depsy details" style = "display: none" data-url="/api/collaborators/name/<%- collaborator.name %>/depsy">
            <span id ='impactnr' class='percentile infonr'></span>
            <p class="info">percentile impact</p>
            <i class="fa fa-info-circle impact-info" aria-hidden="false" title="" data-original-title="Provided by depsy.org"></i>
          </span>
          <span class="direct-downloads details" style = "display: none" data-url="/api/collaborators/name/<%- collaborator.name %>/downloads">
            <span id ='direct-downloadsnr' class='infonr'></span>
            <p class="info">direct downloads</p>
          </span>
          <div class="top-collab-list">
          </div>
      </div>
    </div>

    <div class="col-md-8 collaborator--maintainer">
      <div class="contributions">
        <% if (collaborator.repositories.cran > 0 ) { %>
          <h4>
            <%= collaborator.repositories.cran %> packages on <a href='https://cran.r-project.org/'>CRAN</a>
          </h4>
        <% } %>
        <% if (collaborator.repositories.github > 0 ) { %>
          <h4>
            <%= collaborator.repositories.github %> packages on <a id='collaborator_github_link' href='https://github.com/' target="_blank">GitHub</a>
          </h4>
        <% } %>
        <% if (collaborator.repositories.bioconductor > 0 ) { %>
          <h4>
            <%= collaborator.repositories.bioconductor %> packages on <a href='https://www.bioconductor.org/'>Bioconductor</a>
          </h4>
        <% } %>
          <% for(var i = 0; i < collaborator.packages.length; i++) { %>
            <% var maintained = collaborator.packages[i]; %>
            <div class='maintained-package'>
              <div>
                <h4 class='collaborator--package-title'>
                  <a href='/packages/<%= maintained.package_name %>'><%= maintained.package_name %></a>
                </h4>
                <span class='collaborator-type'>
                  <% var firstName = collaborator.name.split(" ")[0];%>
                  <i
                    class="fa fa-user<%= maintained.is_maintainer ? '' : 's'%>"
                    aria-hidden="true"
                    title='<%= firstName + (maintained.is_maintainer ? ' is the maintainer of this package' : ' is a contributor of this package')%>'></i>
                </span>
                <span class='repo-type'><%= maintained.repoName %></span>
              </div>


              <% if(maintained.percentile >= 0) { %>
                <% var percentilePath = "" %>
                <% var percentile = maintained.percentile %>
                <div class='collaborator--percentile pull-right'>
                  <%- include ../shared/_percentile.ejs %>
                </div>
              <% } %>
              <p class='collaborator--package-description fading-text'><%= maintained.description %></p>
            </div>
          <% } %>
      </div>
    </div>
    </div>

  </div>
</section>
