<%- partial ('../shared/_navbar.ejs') %>
<% var packages = data; %>
<section class="package">
  <div class="container">
    <header>
      <h4>There where no packages found matching your search term</h4>
      <%if(packages.length>0){ %>
        Perhaps you meant one of these:
        <section class="table-list">
        <input id="packagefilter" type="text" placeholder="Filter packages">
        <table>
          <thead>
            <tr>
              <td>Package</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody id="filterableItems">
            <% for(var i = 0; i < packages.length; ++i) { %>
              <%var package = package[i];%>            
              <tr>
                <td><a href="<%= '/packages/' + package.name +'/versions/'+package.version %>"><%= package.name %></td>
                <td><%-package.description%></td>
              </tr>
            <% } %>
            <tr class="no-results"><td colspan="3">No Results!</td></tr>
          </tbody>
        </table>
      </section>  
      <%}%>
    </header>    
  </div>
</section>
<%- partial ('../shared/_footer.ejs') %>