<h4>Packages</h4>
<span class="search-result--index pull-right" id="packagetotal"><%= data.hits %> results</span>
<div class="search-result--results">
<% for (var i = 0; i < data.packages.length; i++) { %>
    <% var hit = data.packages[i]; %>
    <section class='search-result--item'>
        <h5 class="search-result--item-header">
            <a href="<%= '/packages/' + encodeURIComponent(hit.fields.package_name) + '/versions/' + encodeURIComponent(hit.fields.version) %>" >
                <%= hit.fields.package_name + ' v' + hit.fields.version %>
            </a>
        </h5>
        <span class="margin-left">by</span><span class="search-result--item-maintainer" > <a href="/collaborators/name/<%=hit.fields.maintainer%>"><%= hit.fields.maintainer %></a> </span>
        <span class="margin-left search-result--item-percentile percentile-task" data-url="/api/packages/<%=hit.fields.package_name%>/percentile" >
            <span class='percentile'>0th</span> perc. popularity
        </span>
        <p class="search-result--description"><%- hit.description %> </p>
        <dl>
            <% for (var highlight in hit.highlight) { %>
              <dt><%= highlight %> </dt>
              <dd><%- hit.highlight[highlight].toString() %></dd>
            <% } %>
        </dl>
    </section>
<% } %>
</div>
<div class="search-result--pagination packagepages">
    <a class='resultarrow left prec-package-page'><i class="fa fa-chevron-left"></i> Previous Results </a>
    <a class='resultarrow pull-right right next-package-page'>Next Results <i class="fa fa-chevron-right"></i></a>
</div>
