<%- partial ('../shared/_navbar.ejs') %>
<div class='search-result'>
  <div class="container">
    <h3><%= data.total %> Search Results:</h3>
    <hr>
    <div class="results">
      <% for(var i = 0; i < data.hits.length; i++) { %>
        <% var hit = data.hits[i] %>
        <section class='search-result--item'>
          <% if (hit.type === 'topic') { %>
            <h5 class="search-result--item-header">
              Function <a href='/packages/<%- hit.fields.package_name %>/versions/<%- hit.fields.version %>/topics/<%- hit.fields.name %>'><%- hit.fields.name %></a>
              <span>[<%- hit.fields.package_name %>v<%- hit.fields.version %>]</span>
            </h5>
          <% } else if (hit.type === 'package_version') { %>
            <h5 class="search-result--item-header">
              Package <a href='/packages/<%- hit.fields.package_name %>/versions/<%- hit.fields.version %>'><%- hit.fields.package_name %>&nbsp;v<%- hit.fields.version %></a>
            </h5>
          <% } %>

          <dl>
            <% for(highlight in hit.highlight) { %>
              <dt><%= highlight %></dt>
              <dd><%- data.striptags(hit.highlight[highlight].toString(), '<mark>') %></dd>
            <% } %>
          </dl>

        </section>
      <% } %>
    </div>

    <div class='row'>
      <div class='col-xs-6'>
        <% if (data.currentPage >= 2) { %>
        <a href='/search?q=<%= data.query %>&page=<%= data.currentPage - 1 %>&perPage=<%= data.perPage %>' class='btn btn-primary m0'>Previous Results</a>
        <% } %>
      </div>
      <div class='col-xs-6 '>
        <a  href='/search?q=<%= data.query %>&page=<%= data.currentPage + 1 %>&perPage=<%= data.perPage %>' class='btn btn-primary m0 pull-right'>Next Results</a>
      </div>
    </div>
  </div>
</div>

<%- partial ('../shared/_footer.ejs') %>
