<%- partial ('../shared/_navbar.ejs') %>
<% var c = 0; %>
<div class='search-result'>
  <div class="container">
    <div class='row'>


      <% for(var i = 0; i < data.hits.length; i++) { %>
        <% var hit = data.hits[i] %>
        <section class='col-xs-12 search-result-item'>
          <% if (hit.type === 'topic') { %>
          <a href='/packages/<%- hit.fields.package_name %>/versions/<%- hit.fields.version %>/topics/<%- hit.fields.name %>'>
            <h4><%- hit.fields.name %></h4>
            <i>from</i>
            <strong><%- hit.fields.package_name %> - <%- hit.fields.version %></strong>
          </a>
          <% } else if (hit.type === 'package_version') { %>
          <a href='/packages/<%- hit.fields.package_name %>/versions/<%- hit.fields.version %>'>
            <h4><%- hit.fields.package_name %></h4>
            <i><%- hit.fields.version %></i>
          </a>
          <% } %>
          <% for(highlight in hit.highlight) { %>
            <h5 class='highlight-title'><%= highlight %></h5>
            <% var id = 'content-' + c++; %>
            <p id=<%= id %> class='context'>
            </p>
            <script>
              $('#<%= id %>').html('<%- hit.highlight[highlight].toString().replace(/\r?\n|\r/g, "</br>").replace(/'/g, "\\'") %>');
            </script>
          <% } %>
        </section>
      <% } %>


    </div>
    <div class='row'>
      <div class='col-xs-4 navigation'>
        <ul></ul>
      </div>
    </div>
  </div>
</div>

<%- partial ('../shared/_footer.ejs') %>
