<%- partial ('../shared/_navbar.ejs') %>

<section class="views">
  <div class="container">
      <% for(var i = 0; i < data.length; i++) { %>
        <% var view = data[i] %>
          <section class='view-item'>
          <a href="/taskviews/<%- view.name %>">
            <h4 class='view-title'>
              <%= view.name %>
            </h4>
          </a>
          <a href="#" class='display-list'>Toggle list of packages</a>
          <p class='view-package-list' style='display: none;'>
          <% var packages = view.packages.map(function(package) {
            return '<a href="' + package.uri + '">' + package.name + '</a>';
          }) -%>
          <%- packages.join(', ') %>
          </p>
          </section>

      <% } %>


  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
