<%- partial ('../shared/_navbar.ejs') %>
<% var view = data; %>
<section class="task-views">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1><%- view.name %></h1>
        <a href='<%= view.url %>' target='_blank'>CRAN <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-4">
        <section class="stats">
          <div class="downloads download-task" data-url="/api/taskviews/<%= view.name %>/statistics">
            <span class="downloads-nr">
              <span class='total'></span>
              <span>Downloaded this month</span>
            </span>
            <span class="downloads-credits">Download stats provided by <a href="http://cranlogs.r-pkg.org/" target="_blank">MetaCran</a></span>
          </div>
        </section>
      </div>

    </div>


    <section class="table-list">
      <input id="filter" type="text" placeholder="Filter list">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Last month downloads</td>
            <td width="115">Rating</td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < view.packages.length; i++) { %>
            <% var package = view.packages[i]; %>
            <tr>
              <td><a href="<%= package.uri %>"><%= package.name %></a></td>
              <td> <%= package.latest_version ? package.latest_version.title : package.name %> </td>
              <td>
                <span class="download-task" data-url="/api/packages/<%= package.name %>/downloads">
                  <span class='total'></span>
                </span>
              </td>
              <td>

                <div class="rating">
                  <% for(var j=1; j <= 5; j++) { %>
                    <i class="fa fa-star<%=
                    package.rating < j ?
                      package.rating <= j - 0.5 ? "-o" : "-half-o"
                      : ""
                    %>" aria-hidden="true"></i>
                  <% } %>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>


  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
