<% var view = data; %>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <h1><%- view.name %></h1>
        <a href='<%= view.url %>' target='_blank'>
          <%if(!view.url.indexOf("bioconductor")>-1){ %>
            More info on CRAN <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <%} else { %>
            More info on BioConductor <i class="fa fa-external-link" aria-hidden="true"></i></a>
          <%}%>
      </div>
      <div class="col-md-4">
        <%if(view.packages.length<21){ %>
          <section class="stats-aggregate">
            <div class="percentile">
              <span class="percentile-nr">
                <span class='percentile' id = aggpercentile>0th</span>
              </span>
              <p>Average Percentile</p>
            </div>
          </section>
        <%}%>
      </div>
    </div>
    <section class="table-list">
      <input id="filter" type="text" placeholder="Filter list">
      <table class="taskviewtable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Description <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Percentile <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td width="115">Rating <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < Math.min(view.packages.length,20); i++) { %>
            <% var package = view.packages[i]; %>
            <tr>
              <td><a href="<%= package.uri %>"><%= package.name %></a></td>
              <td> <%= package.latest_version ? package.latest_version.title : package.name %> </td>
              <td>
                <span class="percentile-number percentile-task" data-url="/api/packages/<%= package.name %>/percentile" >
                  <span class='percentile'>0th</span>
                </span>
              </td>
              <td>

                <div class="rating" data-rating="<%= package.rating %>">
                  <% for(var j=1; j <= 5; j++) { %>
                    <i class="fa fa-star<%=
                    package.rating < j ?
                      package.rating <= j - 0.5 ? "-o" : "-half-o"
                      : ""
                    %>" aria-hidden="true"></i>
                  <% } %>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>
    <div class="search-result--pagination">
      <% if (data.prevPageUrl) { %>
        <a href='<%= data.prevPageUrl %>' class='btn btn-secondary-light ry taskview-page-button'><i class="fa fa-chevron-left"></i>Previous 20 Packages </a>
      <% } %>
      <% if(data.nextPageUrl){ %>
        <a  href='<%= data.nextPageUrl %>' class='btn btn-secondary-light pull-right taskview-page-button'>Next 20 Packages <i class="fa fa-chevron-right"></i></a>
      <%}%>
    </div>
  </div>
