<% var view = data; %>
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <h1><%- view.name %></h1>
        <a href='<%= view.url %>' target='_blank'>More info on CRAN <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-4">
        <section class="stats-aggregate">
          <div class="percentile">
            <span class="percentile-nr">
              <span class='percentile' id = aggpercentile>0th</span>
            </span>
            <p>Average Percentile</p>
          </div>
        </section>
      </div>
    </div>
    <section class="table-list">
      <input id="filter" type="text" placeholder="Filter list">
      <table class="taskviewtable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Description <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Percentile <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td width="115">Rating <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < view.packages.length; i++) { %>
            <% var package = view.packages[i]; %>
            <tr>
              <td><a href="<%= package.uri %>"><%= package.name %></a></td>
              <td> <%= package.latest_version ? package.latest_version.title : package.name %> </td>
              <td>
                <span class="percentile-number percentile-task" data-url="/api/packages/<%= package.name %>/percentile" >
                  <span class='percentile'>0th</span>
                </span>
              </td>
              <td>

                <div class="rating" data-rating="<%= package.rating %>">
                  <% for(var j=1; j <= 5; j++) { %>
                    <i class="fa fa-star<%=
                    package.rating < j ?
                      package.rating <= j - 0.5 ? "-o" : "-half-o"
                      : ""
                    %>" aria-hidden="true"></i>
                  <% } %>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>
  </div>
