<section class="package-description">
  <h2>Description</h2>
    <div class="row package--details-container">
      <% if(pkgVersion.package['type_id'] == 1){%>
        <div class='col-md-8' id="chart" data-url="/api<%= path %>/downloads/per_day_last_month">
          <svg></svg>
        </div>
      <%} else if(pkgVersion.package['type_id']==2){%>
        <div class='col-md-8' id="bioc_chart" data-url="/api<%= path %>/downloads/bioc/years/1/per_month_last_years">
          <svg></svg>
        </div>
      <%}%>
      <div class='col-md-4 package-details-info'>
        <table>
          <% for(prop in pkgVersion.sourceJSON) { %>
            <tr>
              <td><%= prop %></td>
              <td><%- pkgVersion.sourceJSON[prop].autoLink({ target: "_blank"}) %></td>
            </tr>
          <% } %>
        </table>
      </div> <!-- /.package-details -->
    </div>

    <% if(pkgVersion.collaborators.length > 0) { %>
      <div class="package-details--contr">
        <h5>Contributors:</h5>
        <ul>
          <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
            <li><a href="<%= pkgVersion.collaborators[i].uri %>"><%= pkgVersion.collaborators[i].name %></a></li>
          <% } %>
        </ul>
      </div>
    <% } %>



</section>
