<section id="downloads" class="package--downloads">
  <h2>Last month downloads</h2>
  <div class="row">
    <% if(pkgVersion.package['type_id'] == 1){%>
      <div class='col-md-12' id="chart" data-url="/api<%= path %>/downloads/per_day_last_month">
        <svg></svg>
      </div>
    <%} else if(pkgVersion.package['type_id']==2){%>
      <div class='col-md-12' id="bioc_chart" data-url="/api<%= path %>/downloads/bioc/years/1/per_month_last_years">
        <svg></svg>
      </div>
    <%}%>
  </div>
</section>
<section id="details" class="package-description">
  <h2>Details</h2>
  <div class="row package--details-container">
    <div class='col-md-5 package-details-info'>
      <table>
          <% for(prop in pkgVersion.sourceJSON) { %>
            <tr>
              <td><%= prop %></td>
              <td><%- pkgVersion.sourceJSON[prop].autoLink({ target: "_blank"}) %></td>
            </tr>
          <% } %>
      </table>
    </div> <!-- /.package-details -->
    <div class="col-md-7 package-details-dependencies">
      <table>
        <% var types = _.groupBy(pkgVersion.dependencies, function(dep) { return dep.Dependency.type }) %>
        <% for ( var depType in types ) { %>
          <tr>
            <td><%= depType %></td>
            <td>
            <% for(var i = 0; i < types[depType].length; i++) { %>
              <a itemprop="softwareRequirements" href="<%= types[depType][i].uri %>">
              <%= types[depType][i].name %>
              <% if (types[depType][i].Dependency.version_comparator) { %>
                (<%= types[depType][i].Dependency.version_comparator %> <%= types[depType][i].Dependency.dependency_version %>)
              <% } %>
              </a><%= i === types[depType].length - 1 ? "" : ", " %>
            <% } %>
            </td>
          </tr>
        <% } %>
        <tr>
          <td>Contributors</td>
          <td>
            <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
              <a href="<%= pkgVersion.collaborators[i].uri %>"><%= pkgVersion.collaborators[i].name %></a><%= i === pkgVersion.collaborators.length - 1 ? "" : ", " %>
            <% } %>
          </td>
        </tr>
      </table>
    </div>
  </div>

</section>
