<header class="package-header">
  <div class="container">
    <div class="ph-flex-position">
      <div> <!-- Do not remove this div, needed for ph-flex-position -->
        <div class='package--title--container'>
          <h1 class= 'package--title' itemprop="name"><%- pkgVersion.package_name %></h1>

          <div class="package--version--select">
            <span class='package--version--v'>v.&nbsp;</span>
            <select id="packageVersionSelect">
              <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
                <option data-uri="<%= pkgVersion.package.versions[i].uri %>"
                  value="<%= pkgVersion.package.versions[i].version %>"
                  <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'selected' : '' %>
                  <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'itemprop="softwareVersion"' : '' %>
                  >
                  <%= pkgVersion.package.versions[i].version %>
                </option>
              <% } %>
            </select>
          </div>

          <% if(pkgVersion.maintainer) { %>
            <span class='package--maintainer'>by <a itemprop="creator" href="<%= pkgVersion.maintainer.uri %>"><%= pkgVersion.maintainer.name %></a></span>
          <% } %>
        </div> <!-- /package-title-container -->
      </div> <!-- /Do not remove this div, needed for ph-flex-position -->

      <div><!-- Do not remove this div, needed for ph-flex-position -->
        <% if(inViewerPane) { %>
          <div class="versionCheck"></div>
        <%}%>
        <%if(pkgVersion.package['type_id'] == 2){ %>
          <div class="downloads download-task" data-url="/api<%= path %>/bioc/downloads/splitted">
            <span class="downloads-nr" >
              <span class='indeps'>0</span>
              <i class="fa fa-info-circle distinct-ip-downloads" aria-hidden="false"></i>
            </span>
            <p>Monthly downloads</p>
          </div>
        <%} else if(pkgVersion.package['type_id'] == 1 ){%>
          <div class="downloads download-task" data-url="/api<%= path %>/downloads/splitted">
            <span class="downloads-nr" >
              <span class='indeps'>0</span>
              <i class="fa fa-info-circle direct-downloads" aria-hidden="false"></i>
            </span>
            <p>Monthly downloads</p>
          </div>
        <%}%>

        <%if(pkgVersion.package['type_id'] == 1){ %>
          <div class="downloads" id = "percentile-arrow">
            <i class="fa fa-chevron-right fa-2x" aria-hidden="false"></i>
          </div>
          <% var percentilePath = "/api" + path + "/percentile" %>
          <%- include ../shared/_percentile.ejs %>
        <%}%>

        <div class="star-count">
          <% if(user){ %>
            <span id="upvoteButton" class="upvotePackage"  upvoted="<%= pkgVersion.package.upvoted ? true : false %>" data-action="/api/packages/<%= pkgVersion.package_name %>/toggleStar">
              <i class="fa fa-heart" aria-hidden="true"></i>
            </span>
          <% }else{ %>
            <a id="openModalUpvote" href="/modalLogin" rel = "modal:open" data-action="/api/packages/<%= pkgVersion.package_name %>/toggleStar">
              <span class="upvotePackage" upvoted="<%= pkgVersion.package.upvoted ? true : false %>">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </span>
            </a>
          <% } %>
          <span class='star-count--number'><%= pkgVersion.package.stars.length %></span>
        </div>
      </div> <!-- /Do not remove this div, needed for ph-flex-position -->

    </div> <!-- /row -->
  </div> <!-- /container -->
</header>
