<% var pkgVersion = data; %>
<section class="package">
  <div class="container">
    <header class='row'>

      <div class='col-md-<%= inViewerPane ? '6' : '8'%> col-sm-8 col-xs-9'>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='package--title--container'>
                <h1 class= 'package--title' itemprop="name"><%- pkgVersion.package_name %></h1>

                <div class="package--version--select">
                  <span class='package--version--v'>v. </span>
                  <select id="packageVersionSelect">
                    <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
                      <option data-uri="<%= pkgVersion.package.versions[i].uri %>"
                        value="<%= pkgVersion.package.versions[i].version %>"
                        <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'selected' : '' %>
                        <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'itemprop="softwareVersion"' : '' %>
                        >
                        <%= pkgVersion.package.versions[i].version %>
                      </option>
                    <% } %>
                  </select>
                </div>
                <% if(pkgVersion.maintainer){ %>
                  <span class='package--maintainer'>
                    by
                    <a itemprop="creator" href="<%= pkgVersion.maintainer.uri %>">
                      <%= pkgVersion.maintainer.name %>
                    </a>
                  </span>
                <% } %>




              </div>
            </div>
          </div>

          <div class="row">


            <% if(pkgVersion.rating) { %>
              <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating" title=<%= pkgVersion.rating %>>
                <div class="rating" title=<%= pkgVersion.rating %>>
                  <% if (pkgVersion.rating) { %>
                    <% for(var i=1; i <= 5; i++) { %>
                      <i class="fa fa-star<%=
                      pkgVersion.rating < i ?
                        pkgVersion.rating <= i - 0.5 ? "-o" : "-half-o"
                        : ""
                      %>" aria-hidden="true"></i>
                    <% } %>
                    <span itemprop="ratingValue" hidden>(<%= pkgVersion.rating %></span>
                  <% } %>
                  (<span itemprop="reviewCount"><%= pkgVersion.reviews.length %> </span>votes)
                </div>
              </div>
            <%}%>
          </div>

      </div>

    </header>


    <% if(pkgVersion.readmemd) { %>
      <section class="package--readme">
        <h3> Readme </h3>
        <% if(pkgVersion.url) { %>
           <%- md(pkgVersion.readmemd,pkgVersion.url.autoLink({ target: "_blank", id: "1" })) %>
        <%} %>
        <% if(!pkgVersion.url) {%>
          <%-md(pkgVersion.readmemd,"") %>
        <% }%>

      </section>
    <% } %>

  </div>
</section>
