<%- partial ('../shared/_navbar.ejs') %>
<% var pkgVersion = data; %>
<section class="package">
  <div class="container">
    <header>
      <h1><%- pkgVersion.package_name %></span></h1>

      <select id="packageVersionSelect">
        <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
          <option data-uri="<%= pkgVersion.package.versions[i].uri %>"
            value="<%= pkgVersion.package.versions[i].version %>"
            <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'selected' : '' %> >
            <%= pkgVersion.package.versions[i].version %>
          </option>
        <% } %>
      </select>
      <div class="rating">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>(293810 votes)</span>
      </div>
      <div class="package--review pull-right" >
        <a id="packageVersionReview" class="btn btn-primary pull-right">Review Package</a>
          <div class='popover hidden'>
            <% if(user) { %>
              <h5>Post a review</h5>
              <form action="/api/packages/<%= pkgVersion.package_name %>/versions/<%= pkgVersion.version %>/comments" method="post">
                <textarea name='comment' rows="4" cols="20"></textarea>
                <button class="btn btn-primary pull-right" type="submit">Send your review</button>
              </form>
            <% } else { %>
              <div class='label'>You are not logged in, please log-in to post reviews</div>
            <% } %>
          </div>


      </div>
    </header>

    <section class="package--stats">
      <dl>
        <dt>Maintainer:</dt>
        <dd><a href="<%= pkgVersion.maintainer.uri %>"><%= pkgVersion.maintainer.name %></a></dd>
        <dt>Contributors:</dt>
        <dd>
        <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
          <a href="<%= pkgVersion.collaborators[i].uri %>"><%= pkgVersion.collaborators[i].name %></a>
        <% } %>
        </dd>
      </dl>
    </section>

    <section class="package--info">
      <h4><%- pkgVersion.title %></h4>
      <p><%- pkgVersion.description %></p>
    </section>

    <section class="package--topics">
      <input id="filterTopics" type="text" placeholder="Filter list">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td width="115">Rating</td>
          </tr>
        </thead>
        <tbody id="topics">
          <% for(var i = 0; i < pkgVersion.topics.length; i++) { %>
            <tr>
              <td><a href="<%= pkgVersion.topics[i].uri %>"><%= pkgVersion.topics[i].name %></a></td>
              <td><%- pkgVersion.topics[i].title %></td>
              <td>
                <div class="rating">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>

    <section class="package--dependencies">
      <h4>Dependencies</h4>
      <ul class="inline">
        <% for(var i = 0; i < pkgVersion.dependencies.length; i++) { %>
          <li><a href="<%= pkgVersion.dependencies[i].uri %>"><%= pkgVersion.dependencies[i].name %></a></li>
        <% } %>
      </ul>
    </section>

  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
