<%- partial ('../shared/_navbar.ejs') %>
<% var pkgVersion = data; %>
<section class="package" itemscope itemtype="http://schema.org/SoftwareApplication">
  <div class="container">
    <header>
      <h1 itemprop="name"><%- pkgVersion.package_name %></h1>
      <div class="select">
        <select id="packageVersionSelect">
          <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
            <option data-uri="<%= pkgVersion.package.versions[i].uri %>"
              value="<%= pkgVersion.package.versions[i].version %>"
              <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'selected' : '' %>
              <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'itemprop="softwareVersion"' : '' %>
              >
              <%= pkgVersion.package.versions[i].version %>
            </option>
          <% } %>
        </select>
      </div>

      <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating" title=<%= pkgVersion.rating %>>
        <% if(inViewerPane) { %>
          <div class="versionCheck">
            <%=pkgVersion.package_name%>,
            <%=pkgVersion.package['type_id']%>
          </div>
        <% } %>
        <div class="rating" title=<%= pkgVersion.rating %>>
          <% if (pkgVersion.rating) { %>
            <% for(var i=1; i <= 5; i++) { %>
              <i class="fa fa-star<%=
              pkgVersion.rating < i ?
                pkgVersion.rating <= i - 0.5 ? "-o" : "-half-o"
                : ""
              %>" aria-hidden="true"></i>
            <% } %>
            <span itemprop="ratingValue" hidden>(<%= pkgVersion.rating %></span>
          <% } %>
          (<span itemprop="reviewCount"><%= pkgVersion.reviews.length %> </span>votes)
        </div>
      </div>


      <div class="package--review pull-right" >
          <a href="<%= path + '#postReview' %>" class="btn btn-primary js-internal">Review Package</a>
      </div>
    </header>

    <section class="stats">
      <div class="row">
        <div class="col-md-8">
          <dl>
            <% if (pkgVersion.maintainer) { %>
            <dt>Maintainer:</dt>
            <dd><a itemprop="creator" href="<%= pkgVersion.maintainer.uri %>">
              <%= pkgVersion.maintainer.name %></a></dd>
            <% } %>
            <% if(pkgVersion.collaborators.length > 0) { %>
              <dt>Contributors:</dt>
              <dd>
              <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
                <a href="<%= pkgVersion.collaborators[i].uri %>"><%= pkgVersion.collaborators[i].name %></a>
              <% } %>
              </dd>
            <% } %>
            <% if (pkgVersion.release_date) { %>
              <dt>Release date:</dt>
              <dd itemprop="datePublished"><%= dateformat(pkgVersion.release_date, "mediumDate") %></dd>
            <% } %>
            <% if(pkgVersion.license) { %>
              <dt>License</dt>
              <dd itemprop="license"><%= pkgVersion.license %></dd>
            <% } %>
            <% if(pkgVersion.copyright) { %>
              <dt>Copyright</dt>
              <dd itemprop="copyrightHolder"><%= pkgVersion.copyright %></dd>
            <% } %>
            <% if(pkgVersion.url) { %>
              <dt>Package url</dt>
              <dd itemprop="url"><%- pkgVersion.url %></dd>
            <% } %>
            <% if(pkgVersion.package.inViews && pkgVersion.package.inViews.length > 0) { %>
              <dt>In Views:</dt>
              <% var views = pkgVersion.package.inViews.map(function(view) {
                  return '<a href="/taskviews/' + encodeURIComponent(view.name) + '">' + view.name + '</a>';
                }) -%>
              <dd itemprop="isPartOf"><%- views.join(', ') %></dd>
            <% } %>
          </dl>
        </div>
        <div class="col-md-4">
          <div class="downloads download-task" data-url="/api<%= path %>/downloads/splitted">
            <span class="downloads-nr" >
              <span class='indeps'>0</span>
              <span>Direct downloads this month</span>
            </span>
            <span class="downloads-nr small percentile-task" data-url="/api<%= path %>/percentile" >
              <span class='percentile'>0th</span>
              <span>Percentile</span>
            </span>
            <span class="downloads-ind">With another
            <span class='deps'></span> indirect downloads, for a total of <span class='total'></span> downloads</span>
          </div>
        </div>
      </div>
    </section>

    <section class="package--info">
      <h4 itemprop="headline"><%- pkgVersion.title %></h4>
      <p itemprop="description"><%- pkgVersion.description %></p>
    </section>

    <div id="chart" style="display: none" data-url="/api<%= path %>/downloads/per_day_last_month">
      <svg></svg>
    </div>

    <section class="table-list">
      <input id="filter" type="text" placeholder="Filter list">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Description</td>
            <td width="115">Rating</td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < pkgVersion.topics.length; i++) { %>
            <% var topic = pkgVersion.topics[i]; %>
            <tr>
              <td><a href="<%= path + '/topics/' + encodeURIComponent(topic.name) %>"><%= topic.name %></a></td>
              <td><%= striptags(topic.title) %></td>
              <td>
                <div class="rating">
                  <% var rating = topic.reviews.length > 0 ? lodash.meanBy(topic.reviews, 'rating') : 0; %>
                  <% for(var j=1; j <= 5; j++) { %>
                    <i class="fa fa-star<%=
                     rating < j ?
                      rating <= j - 0.5 ? "-o" : "-half-o"
                      : ""
                    %>" aria-hidden="true"></i>
                  <% } %>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>

    <% if(pkgVersion.readmemd) { %>
    <section class="package--readme">
      <h3> Readme </h3>
      <% if(pkgVersion.url) { %>
         <%- md(pkgVersion.readmemd,pkgVersion.url) %>
      <%} %>
      <% if(!pkgVersion.url) {%>
        <%-md(pkgVersion.readmemd,"") %>
      <% }%>

    </section>
    <% } %>

    <section class="package--dependencies">
      <h4>Dependencies</h4>
      <ul class="inline">
        <% for(var i = 0; i < pkgVersion.dependencies.length; i++) { %>
          <li ><a itemprop="softwareRequirements" href="<%= pkgVersion.dependencies[i].uri %>"><%= pkgVersion.dependencies[i].name %></a></li>
        <% } %>
      </ul>
    </section>

    <% var reviewPostAction = data.api_uri + '/reviews' %>
    <%- include ../shared/_post_review.ejs %>


  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
