<%- partial ('../shared/_navbar.ejs') %>
<% var pkgVersion = data; %>
<section class="package">
  <div class="container">
    <header>
      <h1><span itemprop="name"><%- pkgVersion.title %></span></h1>
      <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
        <a href="<%= pkgVersion.package.versions[i].uri %>"><%= pkgVersion.package.versions[i].version %></a>
      <% } %>
    </header>

    <section>
      <h3>Description</h3>
      <div itemprop="description"><%- pkgVersion.description %></div>
    </section>

    <section>
      <h3>Maintainer</h3>
      <span itemprop="maintainer"><%= pkgVersion.maintainer.name %></span>
    </section>

    <section>
      <h3>Collaborators</h3>
      <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
        <span itemprop="maintainer"><%= pkgVersion.collaborators[i].name %></span>
      <% } %>
    </section>

  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
