<% var pkgVersion = data; %>
<% path = path.replace(new RegExp('[\/]$'),''); %>
<section
  data-package-name="<%=pkgVersion.package_name%>"
  data-type-id="<%=pkgVersion.package['type_id']%>"
  data-latest-version="<%=pkgVersion.package.versions[0].version%>"
  itemscope itemtype="http://schema.org/SoftwareApplication"
  class="package packageData">

  <%- include ../package_version/_header.ejs %>

  <div class="content container">
    <section class="package--info">
      <h2 itemprop="headline"><%- pkgVersion.title %></h2>
      <p itemprop="description">
        <%= pkgVersion.description %><br>
      </p>
    </section>

    <% if(pkgVersion.readmemd) { %>
    <section class="package--readme">
      <div class="anchor" id="readme"></div>
      <h2>Readme</h2>
        <div class="markdown-container">
          <div class="markdown-body">
            <% if(pkgVersion.url) { %>
               <%- md(pkgVersion.readmemd,pkgVersion.url.autoLink({ target: "_blank", id: "1" })) %>
            <%} %>
            <% if(!pkgVersion.url) {%>
              <%-md(pkgVersion.readmemd,"") %>
            <% }%>
         </div>
        </div>
    </section>
    <% } %>

    <section class="table-list">
      <div class="anchor" id="functions"></div>
      <h2 class="table-title">Functions in <%- pkgVersion.package_name %>  </h2>
      <input id="filter" type="text" placeholder="Search">
      <table class = "packagetable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Description <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < pkgVersion.topics.length; i++) { %>
            <% var topic = pkgVersion.topics[i]; %>
            <tr>
              <td><a href="<%= path + '/topics/' + encodeURIComponent(topic.name) %>"><%= topic.name %></a></td>
              <td><%= striptags(topic.title) %></td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>

    <% if(pkgVersion.vignettes.length > 0){ %>
    <section class="table-list">
      <div class="anchor" id="vignettes"></div>
      <h2 class="table-title">Vignettes of <%- pkgVersion.package_name %>  </h2>
      <table class = "packagetable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < pkgVersion.vignettes.length; i++) { %>
            <% var vignette = pkgVersion.vignettes[i]; %>
            <tr>
              <td><a href="<%= vignette.url %>"><%= vignette.name %></a></td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>
    <% } %>

    <%- include ../package_version/_details.ejs %>

    <section class="package--badge">
      <h4>Include our badge in your README<h4>
      <p><img src="/badges/version/<%= pkgVersion.package_name %>"></p>
      <p>
        <code class = "hljs">
          [![Rdoc](http://www.rdocumentation.org/badges/version/<%= pkgVersion.package_name %>)](http://www.rdocumentation.org/packages/<%= pkgVersion.package_name %>)
        </code>
      </p>
    </section>
  </div>
</section>
