<% var pkgVersion = data; %>
<section data-package-name="<%=pkgVersion.package_name%>" data-type-id="<%=pkgVersion.package['type_id']%>"
data-latest-version="<%=pkgVersion.package.latest_version.version%>" class="package packageData" itemscope itemtype="http://schema.org/SoftwareApplication">

  <%- include ../package_version/_header.ejs %>
  <%- include ../package_version/_details.ejs %>

  <div class="container">
    <section class="package--info">
      <h4 itemprop="headline"><%- pkgVersion.title %></h4>
      <p itemprop="description">
        <%- pkgVersion.description %><br>
        <% if(pkgVersion.readmemd) { %><a href="<%= path + '/readme'%>">Readme</a><% } %>
      </p>
    </section>

    <section class="table-list">
      <h4 class="table-title">Functions in <%- pkgVersion.package_name %>  </h4>
      <input id="filter" type="text" placeholder="Search">
      <table class = "packagetable">
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Description <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < pkgVersion.topics.length; i++) { %>
            <% var topic = pkgVersion.topics[i]; %>
            <tr>
              <td><a href="<%= path + '/topics/' + encodeURIComponent(topic.name) %>"><%= topic.name %></a></td>
              <td><%= striptags(topic.title) %></td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>

    <section class="package--dependencies">
      <h4>Dependencies</h4>
      <ul class="inline">
        <% for(var i = 0; i < pkgVersion.dependencies.length; i++) { %>
          <li ><a itemprop="softwareRequirements" href="<%= pkgVersion.dependencies[i].uri %>"><%= pkgVersion.dependencies[i].name %></a></li>
        <% } %>
      </ul>
    </section>

    <section class="package--badge">
      <h5>Get your badge !<h5>
      <p><img src="/badges/version/<%= pkgVersion.package_name %>"></p>
      <p>
        <code class = "hljs">
          [![Rdoc](http://www.rdocumentation.org/badges/version/<%= pkgVersion.package_name %>)](http://www.rdocumentation.org/packages/<%= pkgVersion.package_name %>)
        </code>
      </p>
    </section>
  </div>
</section>
