<%- partial ('../shared/_navbar.ejs') %>
<% var pkgVersion = data; %>
<section data-package-name="<%=pkgVersion.package_name%>" data-type-id="<%=pkgVersion.package['type_id']%>" class="package packageData" itemscope itemtype="http://schema.org/SoftwareApplication">
  <div id="package--container" class="container-fluid">
    <header class='row'>

      <div class='col-md-<%= inViewerPane ? '6' : '8'%> col-sm-8 col-xs-9'>
          <div class='row'>
            <div class='col-sm-12'>
              <div class='package--title--container'>
                <h1 class= 'package--title' itemprop="name"><%- pkgVersion.package_name %></h1>

                <div class="package--version--select">
                  <span class='package--version--v'>v. </span>
                  <select id="packageVersionSelect">
                    <% for(var i = 0; i < pkgVersion.package.versions.length; i++) { %>
                      <option data-uri="<%= pkgVersion.package.versions[i].uri %>"
                        value="<%= pkgVersion.package.versions[i].version %>"
                        <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'selected' : '' %>
                        <%= (pkgVersion.package.versions[i].version === pkgVersion.version) ? 'itemprop="softwareVersion"' : '' %>
                        >
                        <%= pkgVersion.package.versions[i].version %>
                      </option>
                    <% } %>
                  </select>
                </div>

                <% if(pkgVersion.maintainer) { %>
                  <span class='package--maintainer'>
                    by
                    <a itemprop="creator" href="<%= pkgVersion.maintainer.uri %>">
                      <%= pkgVersion.maintainer.name %>
                    </a>
                  </span>
                <% } %>



              </div>
            </div>
          </div>

          <div class="row">


            <% if(pkgVersion.rating) { %>
              <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="rating" title=<%= pkgVersion.rating %>>
                <div class="rating" title=<%= pkgVersion.rating %>>
                  <% if (pkgVersion.rating) { %>
                    <% for(var i=1; i <= 5; i++) { %>
                      <i class="fa fa-star<%=
                      pkgVersion.rating < i ?
                        pkgVersion.rating <= i - 0.5 ? "-o" : "-half-o"
                        : ""
                      %>" aria-hidden="true"></i>
                    <% } %>
                    <span itemprop="ratingValue" hidden>(<%= pkgVersion.rating %></span>
                  <% } %>
                  (<span itemprop="reviewCount"><%= pkgVersion.reviews.length %> </span>votes)
                </div>
              </div>
            <%}%>
          </div>

      </div>

      <% if(inViewerPane) { %>
        <div class='col-md-2 col-sm-4 col-xs-3'>
          <div class="versionCheck"></div>
        </div>
      <%}%>

      <div class="col-md-4 col-sm-<%= inViewerPane ? '8' : '4'%> col-xs-12">
        <div class="downloads download-task" data-url="/api<%= path %>/downloads/splitted">
          <span class="downloads-nr" >
            <span class='indeps'>0</span>
            <i class="fa fa-info-circle" aria-hidden="false"></i>
          </span>
          <p>Monthly downloads</p>
        </div>
        <div class="downloads" id = "percentile-arrow">
          <i class="fa fa-chevron-right fa-2x" aria-hidden="false"></i>
        </div>
        <div class="downloads">
          <span class="downloads-nr percentile-task" data-url="/api<%= path %>/percentile" >
            <span class='percentile'>0th</span>
          </span>
          <p>Percentile</p>
        </div>
      </div>
    </header>

    <section id="details" class="container-fluid sliding">

      <div id="tabs" class="row">
        <ul class="tabs">
          <li><a href="#chart" class= "js-external js-tab"><%= pkgVersion.package_name %> downloads</a></li>
            <li><a id="tab1" href="#packagedependencygraph" class="js-external js-tab">Dependency graph</a></li>
            <li><a id="tab2" href="#packagereversedependencygraph" class="js-external js-tab">Reverse dependency graph</a></li>
        </ul>
        <div class='tabs--content' id="chart" style="display: none" data-url="/api<%= path %>/downloads/per_day_last_month">
          <select onchange="window.redrawChart(this.value)">
            <option value=7>Last week</option>
            <option selected="selected" value=30>Last month</option>
            <option value=365>Last year</option>
          </select>
          <svg></svg>
        </div>

          <div class='tabs--content' id="packagedependencygraph" style="dislay:none" data-url="/api<%= path %>/dependencies">
            <svg></svg>
          </div>
          <div class='tabs--content' id="packagereversedependencygraph" style ="display:none" data-url="/api<%= path %>/reversedependencies" >
            <svg></svg>
          </div>

      </div>

      <div class="row">

        <div class="col-sm-12 package--details">

          <div class='row'>
            <div class="col-sm-12">
            <% if(pkgVersion.collaborators.length > 0) { %>
              <div class= "contributor">
                  <div class="listed">
                    <h5>Contributors:</h5>
                      <ul>
                        <% for(var i = 0; i < pkgVersion.collaborators.length; i++) { %>
                          <li><a href="<%= pkgVersion.collaborators[i].uri %>"><%= pkgVersion.collaborators[i].name %></a></li>
                        <% } %>
                      </ul>
                  </div>
              </div>
            <% } %>
            </div>
          </div>

          <div class='row'>
            <div class='col-sm-12 package--details'>
              <table>
                <% for(prop in pkgVersion.sourceJSON) { %>
                  <tr>
                    <td><%= prop %></td>
                    <td><%- pkgVersion.sourceJSON[prop].autoLink({ target: "_blank"}) %></td>
                  </tr>
                <% } %>
              </table>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id = "slider">
      <div class="slider-border">
      </div>
      <i class="slider-icon fa fa-angle-down" aria-hidden="true"></i>
    </section>

    <section class="package--info">
      <h4 itemprop="headline"><%- pkgVersion.title %></h4>
      <p itemprop="description"><%- pkgVersion.description %></p>
      <h4 class='package--reade'>
        <% if(pkgVersion.readmemd) { %>
          <a href="<%= path + '/readme'%>">Readme</a>
        <% } %>
      </h4>
    </section>

    <section class="table-list">
      <h4 class="table-title">Functions in <%- pkgVersion.package_name %>  </h4>
      <input id="filter" type="text" placeholder="Search">
      <table>
        <thead>
          <tr>
            <td>Name <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td>Description <i class="fa fa-sort" aria-hidden="true"></i></td>
            <td width="115">Rating <i class="fa fa-sort" aria-hidden="true"></i></td>
          </tr>
        </thead>
        <tbody id="filterableItems">
          <% for(var i = 0; i < pkgVersion.topics.length; i++) { %>
            <% var topic = pkgVersion.topics[i]; %>
            <tr>
              <td><a href="<%= path + '/topics/' + encodeURIComponent(topic.name) %>"><%= topic.name %></a></td>
              <td><%= striptags(topic.title) %></td>
              <td>
                <div class="rating">
                  <% var rating = topic.reviews.length > 0 ? lodash.meanBy(topic.reviews, 'rating') : 0; %>
                  <% for(var j=1; j <= 5; j++) { %>
                    <i class="fa fa-star<%=
                     rating < j ?
                      rating <= j - 0.5 ? "-o" : "-half-o"
                      : ""
                    %>" aria-hidden="true"></i>
                  <% } %>
                </div>
              </td>
            </tr>
          <% } %>
          <tr class="no-results"><td colspan="3">No Results!</td></tr>
        </tbody>
      </table>
    </section>

    <section class="package--dependencies">
      <h4>Dependencies</h4>
      <ul class="inline">
        <% for(var i = 0; i < pkgVersion.dependencies.length; i++) { %>
          <li ><a itemprop="softwareRequirements" href="<%= pkgVersion.dependencies[i].uri %>"><%= pkgVersion.dependencies[i].name %></a></li>
        <% } %>
      </ul>
    </section>

    <% var reviewPostAction = data.api_uri + '/reviews' %>
    <%- include ../shared/_post_review.ejs %>


  </div>
</section>

<%- partial ('../shared/_footer.ejs') %>
